{% load static %}
<!DOCTYPE html>




<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Oswald"
    }
    
    body {
        font-family: "Open Sans"
    }
</style>

<body class="w3-grey">

    <!-- Navigation bar with social media icons -->
    <div class="w3-bar w3-black w3-hide-small">
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-flickr"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-linkedin"></i></a>
    </div>

    <!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
    <div class="w3-content" style="max-width:1600px">

        <!-- Header -->
        <header class="w3-container w3-center w3-padding-48 w3-white">
            <h1 class="w3-xxxlarge"><b>WebDev Blogs</b></h1>
            <h6>Welcome to the blog of <span class="w3-tag">Developers</span></h6>
        </header>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <div class="topnav">
                    <a href="{% url 'blog-home' %}">
                        <h6>Home</h6>
                    </a>
                </div>
                <div class="topnav">
                    <a href="{% url 'blog-about' %}">
                        <h6>About</h6>
                    </a>
                </div>
            </div>

            <div class="navbar-nav">
                {% if user.is_authenticated %}
                <div class="topnav">
                    <a class="nav-item nav-link" href="{% url 'post-create' %}">
                        <h6>Add New Blog</h6>
                    </a>
                </div>
                <div class="topnav">
                    <a class="nav-item nav-link" href="{% url 'profile' %}">
                        <h6>My Profile</h6>
                    </a>
                </div>
                <div class="topnav">
                    <a class="nav-item nav-link" href="{% url 'logout' %}">
                        <h6>Logout</h6>
                    </a>
                </div> {% else %}
                <div class="topnav">
                    <a class="nav-item nav-link" href="{% url 'login' %}">
                        <h6>Login</h6>
                    </a>
                </div>
                <div class="topnav">
                    <a class="nav-item nav-link" href="{% url 'register' %}">
                        <h6>Register</h6>
                    </a>
                </div> {% endif %}
            </div>



            <!-- Image header -->
            <header class="w3-display-container w3-wide" id="home">
                <img class="w3-image" src="https://www.thebalancesmb.com/thmb/9-TaSUt-qCdOp1Xh3P43mutTmeA=/2121x1414/filters:fill(auto,1)/GettyImages-887987150-5c770377c9e77c00011c82e6.jpg" alt="Developer Blog" width="1600" height="1060">
                <div class="w3-display-left w3-padding-large">

                    <h1 class="w3-jumbo w3-text-grey w3-hide-small"><b>DEVELOPERS BLOG</b></h1>
                </div>
            </header>

            <!-- Grid -->
            <div class="w3-row w3-padding w3-border">





                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>


<!-- About/Information menu -->

<div class="w3-col l4">
    <!-- About Card -->
    <div class="w3-white w3-margin">
        <img src="/w3images/avatar_girl2.jpg" alt="Tejas" style="width:100%" class="w3-grayscale">
        <div class="w3-container w3-black">
            <h4>Tejas Trivedi</h4>
            <p>Currently learning and growing as a web developer. I have a great interest in web development and I want to share my knowledge with you.</p>
        </div>
    </div>


    <!-- Blog entries -->
    <div class="w3-col l8 s12">

        <!-- Blog entry -->
        <div class="w3-container w3-white w3-margin w3-padding-large">
            <div class="w3-center">
                <h3 class="article-content">{{ object.title }}</h3>

            </div>

            <div class="w3-justify">
                <p class="article-content">{{ object.content }} </p>

                <p class="w3-clear"></p>
                <div class="w3-row w3-margin-bottom" id="demo1" style="display:none">

                </div>
            </div>
        </div>
    </div>
    <hr>
</div>


<hr>






<!-- END About/Intro Menu -->
</div>

<!-- END GRID -->
</div>

<!-- END w3-content -->
</div>



<!-- Footer -->
<footer class="w3-container w3-dark-grey" style="padding:32px">
    <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>


    <script>
        // Toggle between hiding and showing blog replies/comments
        document.getElementById("myBtn").click();

        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }

        function likeFunction(x) {
            x.style.fontWeight = "bold";
            x.innerHTML = "✓ Liked";
        }
    </script>

    </body>













    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css" />

<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Required meta tags -->
    <!--

<link rel="stylesheet" href="https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_fashion_blog&stacked=h">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=2, shrink-to-fit=no">

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" href="https://fontawesome.com/icons/blog?style=solid">



<link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css" />

<link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}"> {% if title %}
<title>
    WebDev Blogs - {{ title }}</title>
{% else %}
<title>WebDev Blogs
</title>
{% endif %}
</head>


<style>
    p.italic {
        font-style: italic;
    }
    
    div.first {
        opacity: 0.6;
    }
    
    sh {
        text-shadow: 2px 2px #1e1f22db;
    }
    
    body {
        margin: 4;
    }
    
    .topnav {
        overflow: hidden;
        background-color: #5825ff;
    }
    
    .topnav a {
        float: left;
        display: block;
        color: blue;
        text-align: center;
        padding: 8px 10px;
        text-decoration: none;
        font-size: 10px;
        border-bottom: 1px solid transparent;
    }
    
    .topnav a:hover {
        border-bottom: 2.5px solid rgb(71, 0, 223);
    }
    
    .topnav a.active {
        border-bottom: 2.5px solid rgb(71, 0, 223);
    }
</style>







<body>

    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">

                    <h3>
                        <p class="italic"><i class="material-icons">computer</i>
                            <sh> WebDev Blogs</sh>
                        </p>
                    </h3>
                </a>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <div class="topnav">
                            <a href="{% url 'blog-home' %}">
                                <h6>Home</h6>
                            </a>
                        </div>
                        <div class="topnav">
                            <a href="{% url 'blog-about' %}">
                                <h6>About</h6>
                            </a>
                        </div>
                    </div>

                    
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                        <div class="topnav">
                            <a class="nav-item nav-link" href="{% url 'post-create' %}">
                                <h6>Add New Blog</h6>
                            </a>
                        </div>
                        <div class="topnav">
                            <a class="nav-item nav-link" href="{% url 'profile' %}">
                                <h6>My Profile</h6>
                            </a>
                        </div>
                        <div class="topnav">
                            <a class="nav-item nav-link" href="{% url 'logout' %}">
                                <h6>Logout</h6>
                            </a>
                        </div> {% else %}
                        <div class="topnav">
                            <a class="nav-item nav-link" href="{% url 'login' %}">
                                <h6>Login</h6>
                            </a>
                        </div>
                        <div class="topnav">
                            <a class="nav-item nav-link" href="{% url 'register' %}">
                                <h6>Register</h6>
                            </a>
                        </div> {% endif %}
                    </div>
                </div>
            </div>


        </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% if messages %} {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %} {% endif %} {% block content %}{% endblock %}
    </main>

     Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

-->

    </html>