 {% load static %}
<!DOCTYPE html> {% block content %}






<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Oswald"
    }
    
    body {
        font-family: "Open Sans"
    }
    
    .form-h1 {
        content: "";
        display: block;
        width: 64px;
        height: 23px;
        position: center;
        top: 0;
        left: 50px;
        pointer-events: none;
        transform: rotate(0deg);
        background: linear-gradient(50deg, rgba(255, 255, 255, 0.537), rgba(117, 108, 108, 0.197));
    }
    
    .slide-left p {
        animation: slide-left 1s;
    }
    
    @keyframes slide-left {
        from {
            margin-left: 100%;
            width: 300%;
        }
        to {
            margin-left: 0%;
            width: 100%;
        }
    }
    
    span.c {
        display: block;
        width: 900px;
        padding: 2px;
        background-color: rgb(216, 216, 216);
    }
    
    span.b {
        display: block;
        width: 900px;
        padding: 2px;
        background-color: rgb(159, 159, 159);
    }
</style>




<body class="w3-gray">

    <!-- Navigation bar with social media icons -->
    <div class="w3-bar w3-black w3-hide-small">
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-flickr"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-linkedin"></i></a>
    </div>

    <!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
    <div class="w3-content" style="max-width:1600px">

        <!-- Header -->

        <header class="w3-container w3-center w3-padding-48 w3-white">
            <h1 class="w3-xxxlarge"><b>WebDev Blogs</b></h1>
            <h6>Welcome to the blog of <span class="w3-tag"><div class="form-h1">Developers</div></span></h6>
        </header>

    </div>




    <!-- Image header -->
    <header class="w3-display-container w3-wide" id="home">
        <img class="w3-image" src="https://www.thebalancesmb.com/thmb/9-TaSUt-qCdOp1Xh3P43mutTmeA=/2121x1414/filters:fill(auto,1)/GettyImages-887987150-5c770377c9e77c00011c82e6.jpg" alt="Developer Blog" width="1600" height="1060">
        <div class="w3-display-left w3-padding-large">


            <marquee behavior="slide" direction="left" scrollamount="120">
                <h1 class="w3-jumbo w3-text-grey w3-hide-small"><b>DEVELOPERS BLOG</b></h1>
            </marquee>
        </div>
        </div>
    </header>
    <!-- Grid -->
    <div class="w3-row w3-padding w3-border">


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <div class="topnav">
                    <a href="{% url 'blog-home' %}">
                        <h6>Home</h6>
                    </a>
                </div>
                <div class="topnav">
                    <a href="{% url 'blog-about' %}">
                        <h6>About</h6>
                    </a>
                </div>
            </div>
        </div>



        <div class="navbar-nav">
            {% if user.is_authenticated %}
            <div class="topnav">
                <a class="nav-item nav-link" href="{% url 'post-create' %}">
                    <h6>Add New Blog</h6>
                </a>
            </div>
            <div class="topnav">
                <a class="nav-item nav-link" href="{% url 'profile' %}">
                    <h6>My Profile</h6>
                </a>
            </div>
            <div class="topnav">
                <a class="nav-item nav-link" href="{% url 'logout' %}">
                    <h6>Logout</h6>
                </a>
            </div> {% else %}

            <a class="nav-item nav-link" href="{% url 'login' %}">
                <h6>Login</h6>
            </a>

            <div class="topnav">
                <a class="nav-item nav-link" href="{% url 'register' %}">
                    <h6>Register</h6>
                </a>
            </div> {% endif %}
        </div>
    </div>


    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% if messages %} {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %} {% endif %}


                <div class="w3-col l4 ">
                    <!-- About Card -->
                    <div allign="right ">
                        <div class="w3-center ">
                            <div class="w3-gray w3-margin ">
                                <img src="/w3images/avatar_girl2.jpg " alt="Our Sidebar " style="width:100% " class="w3-grayscale ">
                                <div class="w3-container w3-black ">

                                    <p class='text-muted'>You can put any information here you'd like.
                                        <ul class="list-group">
                                            <li class="list-group-item list-group-item-light">Latest Posts</li>
                                            <li class="list-group-item list-group-item-light">Announcements</li>
                                            <li class="list-group-item list-group-item-light">Calendars</li>
                                            <li class="list-group-item list-group-item-light">etc</li>
                                        </ul>
                                    </p>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>


    </main>


    </div>

    <hr>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
</body>
<!-- Blog entries -->


<!-- END BLOG ENTRIES -->
</div>

<!-- About/Information menu -->

<div class="w3-col l4 ">
    <!-- About Card -->
    <div allign="right ">
        <div class="w3-center ">
            <div class="w3-gray w3-margin ">
                <img alt="About Me " style="width:100% " class="w3-grayscale ">
                <div class="w3-container w3-black ">


                    <h4>Tejas Trivedi</h4>
                    <p>Currently learning and growing as a web developer. I have a great interest in web development and I want to share my knowledge with you.</p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- END About/Intro Menu -->
<div class="w3-center ">
    {% for post in posts %}

    <span class="c ">

    <div class="container ">
        <span class="b ">
        <h3 class="article-content ">
            <h3 style="text-align:left ">{{ object.title }}</h3>
        </h3>

        <div class="w3-justify ">
            <p class="article-content ">
                <p style="text-align:left ">{{ object.content }} </p>
            </p>
            <p class="w3-clear "></p>
            <div class="w3-row w3-margin-bottom " id="demo1 " style="display:none ">
            </div>
        </span>
</div>
</span>

<hr>
<script>
    // Toggle between hiding and showing blog replies/comments
    document.getElementById("myBtn ").click();

    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show ") == -1) {
            x.className += " w3-show ";
        } else {
            x.className = x.className.replace(" w3-show ", " ");
        }
    }

    function likeFunction(x) {
        x.style.fontWeight = "bold ";
        x.innerHTML = "✓ Liked ";
    }
</script>

</body>



</div>

<body class="w3-gray ">

    <article class="media content-section ">
        <!-- Grid -->
        <div class="w3-row w3-padding w3-border ">
            <div class="w3-justify ">
                <div class="media-body ">
                    <div class="article-metadata ">

                        <a class="mr-2 " href="{% url 'user-posts' post.author.username %} ">
                            <h6 style="text-align:left ">{{ post.author }}</h6>
                        </a>
                        <small class="text-muted "><h6 style="text-align:left ">{{ post.date_posted|date:"F d, Y " }}</h6></small>
                    </div>
                    <h2>
                        <a class="article-title " href="{% url 'post-detail' post.id %} ">
                            <h2 style="text-align:left ">{{ post.title }}</h2>
                        </a>

                        </a>
                    </h2>
                    </h2>
                </div>
                <p class="article-content ">
                    <p style="text-align:left ">{{ post.content }}</p>
                </p>
            </div>
        </div>
    </article>
</body>

</article>
{% endfor %} {% if is_paginated %} {% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4 " href="?page=1 ">
    <font color="black ">First</font>
</a>
<a class="btn btn-outline-info mb-4 " href="?page={{ page_obj.previous_page_number }} ">
    <font color="black ">Previous</font>
</a> {% endif %} {% for num in page_obj.paginator.page_range %} {% if page_obj.number == num %}
<a class="btn btn-info mb-4 " href="?page={{ num }} ">
    <font color="blue ">{{ num }}</font> {% endif %} {% endfor %} {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4 " href="?page={{ page_obj.next_page_number }} ">
        <font color="black ">Next</font>
    </a>
    <a class="btn btn-outline-info mb-4 " href="?page={{ page_obj.paginator.num_pages }} ">
        <font color="black ">Last</font>
    </a>
</a>
</div>
</div>


{% endif %} {% endif %} {% endblock content %}


<br><br><br><br>

</html>