 {% block content %}








<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Oswald"
    }
    
    body {
        font-family: "Open Sans"
    }
    
    span.c {
        display: block;
        width: 900px;
        padding: 2px;
        background-color: rgb(216, 216, 216);
    }
</style>

<body class="w3-gray">

    <!-- Navigation bar with social media icons -->
    <div class="w3-bar w3-black w3-hide-small">
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-flickr"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-linkedin"></i></a>
    </div>

    <!-- w3-content defines a container for fixed size centered content, 
 and is wrapped around the whole page content, except for the footer in this example -->
    <div class="w3-content" style="max-width:1600px">

        <!-- Header -->
        <header class="w3-container w3-center w3-padding-48 w3-white">
            <h1 class="w3-xxxlarge"><b>WebDev Blogs</b></h1>
            <h6>Welcome to the blog of <span class="w3-tag">Developers</span></h6>
        </header>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
             </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <div class="topnav">
                    <a href="{% url 'blog-home' %}">
                        <h6>Home</h6>
                    </a>
                </div>
                <div class="topnav">
                    <a href="{% url 'blog-about' %}">
                        <h6>About</h6>
                    </a>
                </div>
            </div>

            <div class="navbar-nav">
                {% if user.is_authenticated %}
                <div class="topnav">
                    <a class="nav-item nav-link" href="{% url 'post-create' %}">
                        <h6>Add New Blog</h6>
                    </a>
                </div>
                <div class="topnav">
                    <a class="nav-item nav-link" href="{% url 'profile' %}">
                        <h6>My Profile</h6>
                    </a>
                </div>
                <div class="topnav">
                    <a class="nav-item nav-link" href="{% url 'logout' %}">
                        <h6>Logout</h6>
                    </a>
                </div> {% else %}
                <div class="topnav">
                    <a class="nav-item nav-link" href="{% url 'login' %}">
                        <h6>Login</h6>
                    </a>
                </div>
                <div class="topnav">
                    <a class="nav-item nav-link" href="{% url 'register' %}">
                        <h6>Register</h6>
                    </a>
                </div> {% endif %}
            </div>



            <!-- Image header -->
            <header class="w3-display-container w3-wide" id="home">
                <img class="w3-image" src="https://www.thebalancesmb.com/thmb/9-TaSUt-qCdOp1Xh3P43mutTmeA=/2121x1414/filters:fill(auto,1)/GettyImages-887987150-5c770377c9e77c00011c82e6.jpg" alt="Developer Blog" width="1600" height="1060">
                <div class="w3-display-left w3-padding-large">

                    <h1 class="w3-jumbo w3-text-grey w3-hide-small"><b>DEVELOPERS BLOG</b></h1>
                </div>
            </header>

            <!-- Grid -->
            <div class="w3-row w3-padding w3-border">





                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>














<span class="c">

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>{% if object.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-content">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
    </div>
</article>

<button class="like" model="{{ target_model }}" id="target_{{ target_object_id }}" style="color: red;">
    <i class="like-{{ target_object_id }} fa fa-heart{% if not undo %}-o{% endif %}"></i>
      <span class="like-count-{{ target_object_id }}">{{ like_count }}</span>
</button>


<a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}"><button type="button" class="btn btn-outline-light">Add Comment</button></a>
<br><br><br>
<hr>{% for comment in post.comments.all %} {% if user.is_authenticated or comment.approved_comment %}
<div class="comment">
    <div class="date">
        {{ comment.created_date }} {% if not comment.approved_comment %}
        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a> {% endif %}
    </div>
    <strong>{{ comment.author }}</strong>
    <p>{{ comment.text }}</p>
    <hr>
</div>

{% endif %} {% empty %}
<p>No comments here yet :(</p>

<br><br></span> {% endfor %} {% endblock content %}